services:
  volumeplay21:
    image: volumedata21/volumeplay21:latest
    container_name: volumeplay21
    ports:
      - "2121:5000"
    volumes:
      - ./videos:/videos:ro # Mounts your local videos folder as read-only
      - ./data:/data # Mounts local ./data folder for the persistent database
      # To hide a folder, create a file called 'vd21_hide' and scanner will ignore folder and subfolders.
    environment:
      - DATA_DIR=/data
      - VIDEO_DIR=/videos
      - FLASK_DEBUG=0 # Always 0 for production
    restart: unless-stopped
