services:
  volumeplay21:
    image: volumedata21/volumeplay21:latest
    container_name: volumeplay21
    ports:
      - "2121:5000"
    volumes:
      - ./videos:/videos:ro # Mounts your local videos folder as read-only
      - ./data:/data # Mounts local ./data folder for the persistent database        
    
    # --- Enable for Intel iGPU QuickSync
    devices:
      - /dev/dri:/dev/dri
    # ---

    environment:
      - DATA_DIR=/data
      - VIDEO_DIR=/videos
      - FLASK_DEBUG=0 # 0 for production
      
    # --- Enable Hardware Acceleration ---
      - HW_ACCEL_TYPE=qsv
      
    restart: unless-stopped